# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.egg-info/
.venv/

# Node
node_modules/
.next/

# Env
.env
.env.example

# OS
.DS_Store

# Other
KIDNEYSTONE_AI_IMPLEMENTATION_PLAN.md
The MedGemma Impact Challenge Rules.txt
The MedGemma Impact Challenge.txt
.claude
